<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Hard Sudoku</h1>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div>
                <button class="btn btn-primary btn-group-lg" id="btn-generate_easy">New Puzzle</button>
                <button class="btn btn-danger btn-group-lg" type="reset" value="Restart" id="btn-restart">Restart</button>
                <button class="btn btn-info btn-group-lg" id="btn-check">Check for mistakes</button>
            </div>
        </div>
    </div>
</div>
